# files
.kubeconfig
.env
.python-version

# directories
.venv/
.ansible/
.devbox/
.molecule/
ansible_collections/
libvirt/
.project
.settings

# globs
**/__pycache__/**
pokerops-mysql-*.tar.gz
*.ymle
